* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button, input {
  background: none;
  border: none;
}

input:focus-visible {
  outline: none;
}

.container {
  padding: 30px 70px;
  margin: 0 auto;
}

.general-btn {
  background: #d80808;
  border-radius: 27px;
  cursor: pointer;
  color: white;
  font-size: 17px;
  transition: all 0.7s;
}

.section-title {
  font-weight: 700;
  font-size: 57px;
  color: #f4bdbd;
  text-transform: uppercase;
  text-shadow: 8px 3px 2px #000000;
}

.general-btn:hover {
  scale: 1.1;
  background: #000000;
  border: 5px solid #D80808;
}

.reviews-cooperation-container-contact:hover {
  scale: 1.1;
  background: #D80808;
  border: 5px solid #000;
  color: white;
}

.header-wrapper {
  background: url(/img/Header-bg.jpg) no-repeat center/cover;
}
.header-circle {
  margin: 0 auto;
  background: url(/img/heade-circle.svg) no-repeat center/cover;
  height: 870px;
  width: 820px;
  position: relative;
}
.header-circle::before, .header-circle::after {
  position: absolute;
  content: "Graphic";
  text-shadow: 8px 3px 2px #CE2F14;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  top: 150px;
  left: -150px;
  color: #eee;
  z-index: 2;
}
.header-circle::after {
  content: "Design";
  top: 70%;
  left: 73%;
  z-index: 2;
}
.header-circle-gradient-1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #1d1919 0%, #FF0000 80%);
  position: absolute;
  top: 650px;
  left: 50px;
}
.header-circle-gradient-text-1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 147%;
  letter-spacing: 0.05em;
  color: #f00;
  width: 300px;
  position: absolute;
  top: 720px;
  left: -180px;
}
.header-circle-gradient-2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #3f2424 0%, #A67373 80%);
  position: absolute;
  top: 160px;
  left: 700px;
}
.header-circle-gradient-text-2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 147%;
  letter-spacing: 0.05em;
  color: #BB9292;
  width: 300px;
  position: absolute;
  top: 150px;
  left: 775px;
}
.header-circle-poster {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
  top: -40px;
  right: 80px;
}
.header-circle-backside {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: radial-gradient(circle at top, #000000 0%, #721010 80%);
  position: absolute;
  left: 60px;
  top: 80px;
  z-index: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  width: 160px;
  height: 56px;
}
.nav-list {
  display: flex;
  align-items: center;
  color: white;
  -moz-column-gap: 38px;
       column-gap: 38px;
}
.nav-list-item {
  font-size: 18px;
  cursor: pointer;
}
.nav-contact {
  padding: 18px 30px;
}

.main {
  margin: 0 auto;
  height: 1000px;
  width: 1100px;
  position: relative;
}
.main-wrapper {
  background: url(/img/task-bg.png) no-repeat center/cover;
  align-items: center;
  justify-content: center;
}
.main-cards-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-cards-item-desk {
  font-weight: 700;
  font-size: 18px;
}
.main-cards-item:nth-child(1) {
  position: relative;
  background: url(/img/task-item-bg-1.png) no-repeat center/cover;
  width: 400px;
  height: 250px;
}
.main-cards-item:nth-child(1)::before {
  content: "1";
  font-weight: 700;
  font-size: 210px;
  color: #1e0202;
  position: absolute;
  right: 280px;
  top: 50px;
  text-shadow: 2px 2px 0 rgba(122, 27, 27, 0.5803921569), 2px -2px 0 rgba(122, 27, 27, 0.5803921569), -2px 2px 0 rgba(122, 27, 27, 0.5803921569), -2px -2px 0 rgba(122, 27, 27, 0.5803921569), 2px 0px 0 rgba(122, 27, 27, 0.5803921569), 0px 2px 0 rgba(122, 27, 27, 0.5803921569), -2px 0px 0 rgba(122, 27, 27, 0.5803921569), 0px -2px 0 rgba(122, 27, 27, 0.5803921569), 2px 2px 2px rgba(206, 0, 0, 0);
}
.main-cards-item:nth-child(1)::after {
  content: "";
  position: absolute;
  background: url(/img/task-heart.png) no-repeat center/cover;
  width: 185px;
  height: 185px;
  right: -350px;
}
.main-cards-item:nth-child(1) p {
  width: 160px;
}
.main-cards-item:nth-child(2) {
  margin-left: 120px;
  position: relative;
  top: -40px;
  background: url(/img/task-item-bg-2.png) no-repeat center/cover;
  width: 400px;
  height: 400px;
  flex-direction: column;
  color: #eee;
  padding-top: 100px;
  justify-content: flex-start;
}
.main-cards-item:nth-child(2)::before {
  content: "2";
  font-weight: 700;
  font-size: 200px;
  color: #f0c9c9;
  position: absolute;
  right: 280px;
  top: 170px;
  text-shadow: 2px 2px 0 gray, 2px -2px 0 gray, -2px 2px 0 gray, -2px -2px 0 gray, 2px 0px 0 gray, 0px 2px 0 gray, -2px 0px 0 gray, 0px -2px 0 gray, 2px 2px 2px rgba(206, 0, 0, 0);
}
.main-cards-item:nth-child(2)::after {
  content: "";
  position: absolute;
  background: url(/img/task-message.png) no-repeat center/cover;
  width: 225px;
  height: 225px;
  right: -390px;
  top: -30;
}
.main-cards-item:nth-child(2) h4, .main-cards-item:nth-child(2) p {
  width: 190px;
}
.main-cards-item:nth-child(2) h4 {
  margin-bottom: 30px;
}
.main-cards-item:nth-child(3) {
  margin-left: 240px;
  position: relative;
  top: -200px;
  background: url(/img/task-item-bg-3.png) no-repeat center/cover;
  width: 500px;
  height: 440px;
  flex-direction: column;
  align-items: flex-end;
}
.main-cards-item:nth-child(3)::before {
  content: "3";
  font-weight: 700;
  font-size: 200px;
  color: #fb0909;
  position: absolute;
  right: 370px;
  top: 220px;
  text-shadow: 2px 2px 0 rgba(122, 27, 27, 0.5803921569), 2px -2px 0 rgba(122, 27, 27, 0.5803921569), -2px 2px 0 rgba(122, 27, 27, 0.5803921569), -2px -2px 0 rgba(122, 27, 27, 0.5803921569), 2px 0px 0 rgba(122, 27, 27, 0.5803921569), 0px 2px 0 rgba(122, 27, 27, 0.5803921569), -2px 0px 0 rgba(122, 27, 27, 0.5803921569), 0px -2px 0 rgba(122, 27, 27, 0.5803921569), 2px 2px 2px rgba(206, 0, 0, 0);
}
.main-cards-item:nth-child(3)::after {
  content: "";
  position: absolute;
  background: url(/img/task-laptop.png) no-repeat center/cover;
  width: 270px;
  height: 270px;
  right: -350px;
}
.main-cards-item:nth-child(3) h4, .main-cards-item:nth-child(3) p {
  text-align: right;
  width: 190px;
  margin-right: 50px;
  margin-top: 50px;
}
.main-cards-item:nth-child(3) h4 {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-wrapper {
  background: url(/img/Header-bg.jpg) no-repeat center/cover;
}
.section-title {
  font-weight: 700;
  font-size: 57px;
  color: #e4cfcf;
  align-self: flex-start;
}
.section-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  -moz-column-gap: 220px;
       column-gap: 220px;
  justify-content: center;
}
.section-cards-item {
  width: 34%;
  display: flex;
  flex-direction: column;
}
.section-cards-item-poster {
  width: 100%;
  height: 230px;
}
.section-cards-item-title {
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}
.section-cards-item-desc {
  color: #fff;
}
.section-more {
  border-radius: 27px;
  width: 184px;
  height: 63px;
}

.reviews-wrapper {
  background: url(/img/task-bg.png) no-repeat center/cover;
}
.reviews-cards-item {
  position: relative;
}
.reviews-cards-item-poster {
  position: absolute;
}
.reviews-cards-item-comment {
  position: absolute;
}
.reviews-1 {
  left: 6%;
}
.reviews-2 {
  left: 39%;
  top: 80%;
}
.reviews-3 {
  left: 75%;
  bottom: 40%;
}
.reviews-cooperation-container {
  background: url(/img/cooperation-container-bg.png) no-repeat center/cover;
  border-radius: 12px;
  width: 1111px;
  height: 434px;
  margin: 0 auto;
  margin-top: 400px;
  padding-top: 20px;
}
.reviews-cooperation-container-inside {
  background: url(/img/cooperation-container-inside-bg.png) no-repeat center/cover;
  border-radius: 19px;
  width: 981px;
  height: 371px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 40px;
  display: flex;
}
.reviews-cooperation-container-title {
  font-weight: 700;
  font-size: 40px;
  color: #f3d5d5;
  width: 300px;
}
.reviews-cooperation-container-shape {
  border: 2px solid #000;
  width: 558px;
  height: 0px;
}
.reviews-cooperation-container-desc {
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #e8d6d6;
  width: 450px;
}
.reviews-cooperation-container-icon-1 {
  margin-bottom: 40px;
}
.reviews-cooperation-container-icon-3 {
  margin-bottom: 45px;
}
.reviews-cooperation-container-contact {
  border-radius: 27px;
  width: 196px;
  height: 63px;
  font-weight: 900;
  font-size: 19px;
  color: #f00;
  background: white;
  margin-top: 110px;
  margin-left: 50px;
  transition: 0.5s;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-wrapper {
  background: #020202;
  padding: 34px 0px;
}
.footer-name {
  color: #FF0000;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  color: #D8D3D3;
}
.footer-list-item {
  font-weight: 800;
}
.footer-title {
  color: #FF0000;
  font-weight: 800;
  margin-bottom: 17px;
  text-transform: uppercase;
}
.footer-subtitle {
  color: #D8D3D3;
  margin-bottom: 10px;
  font-weight: 800;
}
.footer-shape {
  width: 70%;
  border-left: 2px solid #FF2929;
  padding: 17px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.modal {
  background: url(/img/task-bg.png) no-repeat center/cover;
  padding: 50px;
  border: 20px solid #890000;
  border-radius: 24px;
  width: 30vw;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-form-btn {
  padding: 16px 62px;
}
.modal-form-input {
  width: 100%;
  border: 4px solid #721010;
  border-radius: 15px;
  margin-bottom: 34px;
  color: white;
  padding: 15px 0px 15px 15px;
  background: rgba(0, 0, 0, 0.485);
}
.modal-form-input::-moz-placeholder {
  color: #FC0000;
}
.modal-form-input::placeholder {
  color: #FC0000;
}
.modal-title {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 800;
  color: #E5DEDE;
  margin-bottom: 120px;
}/*# sourceMappingURL=style.css.map */