@import 'reset.scss';
@import 'colors.scss';
.container{
    padding: 30px 70px;
    margin: 0 auto;
    @media (max-width: 426px) {
        &{
            padding: 22px 22px 108px 22px;
        }
    }
}
.general-btn{
    background: $buttonBg;
    border-radius: 27px;
    cursor: pointer;
    color: $White;
    font-size: 17px;
    transition: all .7s;
}
.section-title{
    font-weight: 700;
    font-size: 57px;
    color: #f4bdbd;
    text-transform: uppercase;
    text-shadow: 8px 3px 2px #000000;
}
.general-btn:hover{
    scale: 1.1;
    background: #000000;
    border: 5px solid #D80808;
}
.reviews-cooperation-container-contact:hover{
    scale: 1.1;
    background: #D80808;
    border: 5px solid #000;
    color: white;
}
.header{
    &-wrapper{
        background: url(/img/Header-bg.jpg) no-repeat center/cover;
    }
    &-circle{
        margin: 0 auto;
        background: url(/img/heade-circle.svg) no-repeat center/cover;
        height: 870px;
        width: 820px;
        position: relative;
         &::before,&::after{
            position: absolute;
            content: 'Graphic';
            text-shadow: 8px 3px 2px #CE2F14;
            font-weight: 700;
            font-size: 96px;
            line-height: 100%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            top: 150px;
            left: -150px;
            color: #eee;
             z-index: 2;
        }
        &::after{
            content: 'Design';
            top: 70%;
            left: 73%;
            z-index: 2;
        }
        &-gradient-1{
            width: 70px;            
            height: 70px;
            border-radius: 50%;
            background: radial-gradient(circle at center, #1d1919 0%, #FF0000 80%);
            position: absolute;
            top: 650px;
            left: 50px;
        }
        &-gradient-text-1{
            font-weight: 700;
            font-size: 18px;
            line-height: 147%;
            letter-spacing: 0.05em;
            color: #f00;
            width: 300px;
            position: absolute;
            top: 720px;
            left:-180px;
        }
        
        &-gradient-2{
            width: 70px;            
            height: 70px;
            border-radius: 50%;
            background: radial-gradient(circle at center, #3f2424 0%, #A67373 80%);
            position: absolute;
            top: 160px;
            left: 700px;
        }
        &-gradient-text-2{
            font-weight: 700;
            font-size: 18px;
            line-height: 147%;
            letter-spacing: 0.05em;
            color: #BB9292;
            width: 300px;
            position: absolute;
            top: 150px;
            left:775px;
        }
        &-poster{
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: 1;
            top: -40px;
            right: 80px;
        }
        &-backside{
            width: 700px;            
            height: 700px;
            border-radius: 50%;
            background: radial-gradient(circle at top, #000000 0%, #721010 80%);
            position: absolute;
            left: 60px;
            top: 80px;
            z-index: 0;
        }
    }
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left{
        width: 160px;
        height: 56px;
    }
    &-list{
        display: flex;
        align-items: center;
        color: $White;
        column-gap: 38px;
        &-item{
            font-size: 18px;
            cursor: pointer;
        }
    }
    &-contact{
        padding: 18px 30px;
    }
    &-burgermenu-form{
        display: none;
        flex-direction: column;
        cursor: pointer;
        @media  (max-width:426px) {
            display: flex;
        }
        &-child-1{
            border-radius: 11px;
            width: 50px;
            height: 7px;
            background: #f00;
            margin-top: 6px;
        }
        &-child-2{
            border-radius: 11px;
            width: 40px;
            height: 6px;
            background: #f00;
            margin-top: 6px;
        }
        &-child-3{
            border-radius: 11px;
            width: 32px;
            height: 5px;
            background: #f00;
            margin-top: 6px;
        }
    }
    &-burgermenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 31px;
        width: 295px;
        height: 468px;
        background: rgba(175, 3, 3, 0.89);
        &-overlay{
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 12;
            background: rgba(0, 0, 0, 0.5);
        }
        &-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 50%;
            letter-spacing: -0.04em;
            color: #ededed;
            margin-bottom: 40px;
        }
        &-button-1{
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: #efe5e5;
            border-radius: 13px;
            width: 196px;
            height: 40px;
            background: rgba(70, 0, 0, 0.96);
            border: 7px solid rgba(148, 0, 0, 0.27);;
            margin-top: 15px;
        }
        &-button-2{
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: #000;
            border: 5px solid rgba(231, 11, 11, 0.9);
            border-radius: 13px;
            width: 151px;
            height: 31px;
            background: rgba(148, 5, 5, 0.53);
            margin-top: 15px;
        }
        &-close{
            margin-top: 26px;
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0.05em;
            color: #000;
            border-radius: 27px;
            width: 99px;
            height: 32px;
            background: #d80808;
        }
    }
}

.main{
     margin: 0 auto;
        height: 1000px;
        width: 1100px;
        position: relative;
    &-wrapper{
        background: url(/img/task-bg.png) no-repeat center/cover;
        align-items: center;
        justify-content: center;
    }
    &-cards{
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            &-title{
                
            }
            &-desk{
                font-weight: 700;
                font-size: 18px;
            }
            &:nth-child(1){
                position: relative;
                background: url(/img/task-item-bg-1.png) no-repeat center/cover;
                width: 400px;
                height: 250px;
                &::before{
                    content:'1';
                    font-weight: 700;
                    font-size: 210px;
                    color: #1e0202;
                    position: absolute;
                    right: 280px;
                    top: 50px;
                    text-shadow: 2px 2px 0 #7a1b1b94, 2px -2px 0 #7a1b1b94, -2px 2px 0 #7a1b1b94, -2px -2px 0 #7a1b1b94, 2px 0px 0 #7a1b1b94, 0px 2px 0 #7a1b1b94, -2px 0px 0 #7a1b1b94, 0px -2px 0 #7a1b1b94, 2px 2px 2px rgba(206,0,0,0);
                }
                &::after{
                    content: '';
                    position: absolute;
                    background: url(/img/task-heart.png) no-repeat center/cover;
                    width: 185px;
                    height: 185px;
                    right: -350px;
                    @media (max-width: 426px) {
                        &{
                            display: none;
                        }
                    }
                }
                p{
                    width: 160px;
                }
            }
            &:nth-child(2){
                margin-left: 120px;
                position: relative;
                top: -40px;
                background: url(/img/task-item-bg-2.png) no-repeat center/cover;
                width: 400px;
                height: 400px;
                flex-direction: column;
                color: #eee;
                padding-top: 100px;
                justify-content: flex-start;
                @media (max-width: 426px) {
                        &{
                            margin-left: 0px;
                        }
                    }
                &::before{
                    content:'2';
                    font-weight: 700;
                    font-size: 200px;
                    color: #f0c9c9;
                    position: absolute;
                    right: 280px;
                    top: 170px;
                    text-shadow: 2px 2px 0 gray, 2px -2px 0 gray, -2px 2px 0 gray, -2px -2px 0 gray, 2px 0px 0 gray, 0px 2px 0 gray, -2px 0px 0 gray, 0px -2px 0 gray, 2px 2px 2px rgba(206,0,0,0);
                }
                &::after{
                    content: '';
                    position: absolute;
                    background: url(/img/task-message.png) no-repeat center/cover;
                    width: 225px;
                    height: 225px;
                    right: -390px;
                    top: -30;
                    @media (max-width: 426px) {
                        &{
                            display: none;
                        }
                    }
                }
                & h4, p{
                    width: 190px;
                }
                & h4{
                    margin-bottom: 30px;
                }
            }
            &:nth-child(3){
                margin-left: 240px;
                position: relative;
                top: -200px;
                background: url(/img/task-item-bg-3.png) no-repeat center/cover;
                width: 500px;
                height: 440px;
                flex-direction: column;
                align-items: flex-end;
                @media (max-width: 426px) {
                        &{
                            margin-left: 0px;
                        }
                    }
                &::before{
                    content: '3';
                    font-weight: 700;
                    font-size: 200px;
                    color: #fb0909;
                    position: absolute;
                    right: 370px;
                    top: 220px;
                    text-shadow: 2px 2px 0 #7a1b1b94, 2px -2px 0 #7a1b1b94, -2px 2px 0 #7a1b1b94, -2px -2px 0 #7a1b1b94, 2px 0px 0 #7a1b1b94, 0px 2px 0 #7a1b1b94, -2px 0px 0 #7a1b1b94, 0px -2px 0 #7a1b1b94, 2px 2px 2px rgba(206,0,0,0);
                }
                &::after{
                    content: '';
                    position: absolute;
                    background: url(/img/task-laptop.png) no-repeat center/cover;
                    width: 270px;
                    height: 270px;
                    right: -350px;
                    @media (max-width: 426px) {
                        &{
                            display: none;
                        }
                    }
                }
                & h4, & p{
                    text-align: right;
                    width: 190px;
                    margin-right: 50px;
                    margin-top: 50px;
                }
                & h4{
                  width: 100%;  
                }
            }
        }
    }
}
.section{
    display:flex;
    flex-direction: column;
    align-items: center;
    &-wrapper{
        background: url(/img/Header-bg.jpg) no-repeat center/cover;
    }
    &-title{
        font-weight: 700;
        font-size: 57px;
        color: #e4cfcf;
        align-self: flex-start;
    }
    &-cards{
        display: flex;
        flex-wrap: wrap;
        row-gap: 80px;
        column-gap: 220px;
        justify-content: center;
        &-item{
            width: 100%;
            display: flex;
            flex-direction: column;
            &-poster{
                width: 100%;
                height: 230px;
            }
            &-title{
                font-weight: 900;
                font-size: 18px;
                color: #fff;
            }
            &-desc{
             color: #fff;   
            }
        }
    }
    &-more{
        border-radius: 27px;
        width: 184px;
        height: 63px;
    }
}
.reviews{
    &-conatainer-parent-icons{
        @media (max-width: 426px) {
                        &{
                            display: flex;
                            width: 100%;
                        }
                    }
    }
    &-wrapper{
        background: url(/img/task-bg.png) no-repeat center/cover;
    }
    &-cards{
        &-item{
            position: relative;
            &-poster{
                position: absolute;
            }
            &-comment{
                position: absolute;
            }
        }
    }
    &-1{
        left: 6%;
    }
    &-2{
        left: 39%;
        top: 80%;
    }
    &-3{
        left: 75%;
        bottom: 40%;
    }
    &-cooperation-container{
        background: url(/img/cooperation-container-bg.png) no-repeat center/cover;
        border-radius: 12px;
        width: 1111px;
        height: 434px;
        margin: 0 auto;
        margin-top: 400px;
        padding-top: 20px;
        @media (max-width: 426px) {
                        &{
                            width: 102vw;
                            margin-left: -30px;
                        }
                    }
        &-inside{
            background: url(/img/cooperation-container-inside-bg.png) no-repeat center/cover;
            border-radius: 19px;
            width: 981px;
            height: 371px;
            margin: 0 auto;
            margin-top: 10px;
            padding: 40px;
            display: flex;
            @media (max-width: 426px) {
                        &{
                            width: 100%;
                            flex-direction: column;
                        }
                    }
        }
        &-title{
            font-weight: 700;
            font-size: 40px;
            color: #f3d5d5;
            width: 300px;
        }
        &-shape{
            border: 2px solid #000;
            width: 558px;
            height: 0px;
            @media (max-width: 426px) {
                        &{
                            width: 100%;
                        }
                    }
        }
       &-desc{
            font-size: 15px;
            letter-spacing: 0.06em;
            color: #e8d6d6;
            width: 450px; 
            @media (max-width: 426px) {
                        &{
                            width: 100%;
                        }
                    }
        }
        &-icon-1{
            margin-bottom: 40px;
        }
        &-icon-3{
            margin-bottom: 45px;
        }
        &-contact{
            border-radius: 27px;
            width: 196px;
            height: 63px;
            font-weight: 900;
            font-size: 19px;
            color: #f00;
            background: white;
            margin-top: 110px;
            margin-left: 50px;
            transition: .5s;
        }
    }
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-wrapper{
    background: #020202;
    padding: 34px 0px;
    }
    &-name{
        color: #FF0000;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 800;
    }
    &-list{
        display: flex;
        justify-content: space-between;
        color: #D8D3D3;
        &-item{
            font-weight: 800;
        }
    }
    &-title{
        color: #FF0000;
        font-weight: 800;
        margin-bottom: 17px;
        text-transform: uppercase;
    }
    &-subtitle{
        color: #D8D3D3;
        margin-bottom: 10px;
        font-weight: 800;
    }
    &-shape{
        width: 70%;
        border-left: 2px solid #FF2929;
        padding: 17px;
    }
}
.overlay{
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
.modal{
    background: url(/img/task-bg.png) no-repeat center/cover;
    padding: 50px;
    border: 20px solid #890000;
    border-radius: 24px;
    width: 30vw;
    &-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-btn{
            padding: 16px 62px;
        }
        &-input{
            width: 100%;
            border: 4px solid #721010;
            border-radius: 15px;
            margin-bottom: 34px;
            color: white;
            padding: 15px 0px 15px 15px;
            background: rgba(0, 0, 0, 0.485);
            &::placeholder{
                color: #FC0000;
            }
        }
    }
    &-title{
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 800;
        color: #E5DEDE;
        margin-bottom: 120px;
    }
}


@media (max-width: 426px) {
    .header{
        height: 648px;
    }
    .nav-list{
        display: none;
    }
    .nav-left{
        display: none;
    }
    .nav-contact{
        position: absolute;
        top: 280px;
        z-index: 5;
        border-radius: 27px;
        width: 149px;
        height: 53px;
        font-weight: 900;
        font-size:14px;
    }
    .header-circle{
        height: 435px;
        width: 410px;
        margin-left: 60px;
        margin-top: 70px;
    }
    .header-circle::before{
        font-weight: 700;
        font-size: 33px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #eee;
        text-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
        left: -20px;
        top: 60px;
    }
    .header-circle::after{
        font-weight: 700;
        font-size: 30px;
        line-height: 307%;
        letter-spacing: 0.03em;
        color: #eee;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        left: -20px;
        top: 70px;
    }
    .header-circle-backside{
        width: 350px;
        height: 350px;
        top: 40px;
        left: 30px;
    }
    .header-circle-poster{
        left: 40px;
    }
    .header-circle-gradient-1{
        left: 50px;
        top: 350px;
        width: 30px;
        height: 30px;
    }
    .header-circle-gradient-text-1{
        left: -90px;
        top: 380px;
        width: 140px;
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.01em;
    }
    .header-circle-gradient-2{
        left: 120px;
        top: 400px;
        width: 30px;
        height: 30px;
    }
    .header-circle-gradient-text-2{
        left: 75px;
        top: 440px;
        width: 140px;
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.01em;
    }

}
